<!DOCTYPE html>
{% extends "handball_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "handball_app:home" %}>		
<img src= "/static/images/handball_image1.jpg" alt="handball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "handball_app:home" %}>		
<img src= "/static/images/handball_image2.jpg" alt="handball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "handball_app:home" %}>		
<img src= "/static/images/handball_image3.jpg" alt="handball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "handball_app:home" %}>		
<img src= "/static/images/handball_image4.jpg" alt="handball image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
