<!DOCTYPE html>
{% extends "surfing_app/base.html" %}
{% block body_block %}
<h1>Enter the rank and debut details for new player entry.</h1>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "surfing_app:form_details" %}>Enter new entry</a></li>

<li> <a class="navbar-link" href={% url "surfing_app:details" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
<div class="container-fluid">
<form method="POST">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" class="btn btn-primary" value="submit">	
</form>
</div>
{% endblock %}