<!DOCTYPE html>
{% extends "surfing_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "surfing_app:home" %}>		
<img src= "/static/images/surfing_image1.jpg" alt="surfing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "surfing_app:home" %}>		
<img src= "/static/images/surfing_image2.jpg" alt="surfing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "surfing_app:home" %}>		
<img src= "/static/images/surfing_image3.jpg" alt="surfing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "surfing_app:home" %}>		
<img src= "/static/images/surfing_image4.jpg" alt="surfing image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
