<!DOCTYPE html>
{% extends "surfing_app/base.html" %}
{% block body_block %}
<h1>This page has the wins and score details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">	
<li> <a class="navbar-link" href={% url "surfing_app:form_pointstats" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "surfing_app:search_pointstats" %}>Search an entry</a></li>	
<li> <a class="navbar-link" href={% url "surfing_app:pointstats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Pointstatsinfo</caption>
<tr>
<th>Name</th>
<th>Wins</th>
<th>Score</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.wins }}</td>
<td>{{ entry.score }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}