<!DOCTYPE html>
{% extends "fencing_app/base.html" %}
{% block body_block %}
<h1>This page has hand details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "fencing_app:form_gamestats" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "fencing_app:search_gamestats" %}>Search an entry</a></li>		
<li> <a class="navbar-link" href={% url "fencing_app:gamestats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Gamestatsinfo</caption>
<tr>
<th>Name</th>
<th>Hand</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.hand }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}