<!DOCTYPE html>
{% extends "fencing_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "fencing_app:home" %}>		
<img src= "/static/images/fencing_image1.jpg" alt="fencing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "fencing_app:home" %}>		
<img src= "/static/images/fencing_image2.jpg" alt="fencing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "fencing_app:home" %}>		
<img src= "/static/images/fencing_image3.jpg" alt="fencing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "fencing_app:home" %}>		
<img src= "/static/images/fencing_image4.jpg" alt="fencing image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
