<!DOCTYPE html>
{% extends "football_app/base.html" %}
{% block body_block %}
<h1>This page has the goals details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "football_app:form_goalstats" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "football_app:search_goalstats" %}>Search an entry</a></li>	
<li> <a class="navbar-link" href={% url "football_app:goalstats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Goalsinfo</caption>
<tr>
<th>Name</th>
<th>Goals scored</th>
<th>Goals assists</th>
<th>Goals conceded</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.goals }}</td>
<td>{{ entry.assists }}</td>
<td>{{ entry.goalsconceded }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}