<!DOCTYPE html>
{% extends "football_app/base.html" %}
{% block body_block %}
<h1>This page has the penalty details for all players.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "football_app:penaltystats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Penaltyinfo</caption>
<tr>
<th>Name</th>
<th>Penalty scored</th>
<th>Penalty missed</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.penaltyscored }}</td>
<td>{{ entry.penaltymissed }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}