<!DOCTYPE html>
{% extends "football_app/base.html" %}
{% block body_block %}
<h1>Please provide the player name to search the details.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "football_app:form_cardstats" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "football_app:search_cardstats" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "football_app:cardstats" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
<div class="container-fluid">
<form method="POST">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" class="btn btn-primary" value="submit">	
</form>
</div>

{% endblock %}