<!DOCTYPE html>
{% extends "books_app/base.html" %}
{% block body_block %}
<h1>This page has the author and publisher details for all books.</h1>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "books_app:form_author" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:search_author" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:author" %}>Go back to list</a></li>
</ul>
</div>
</nav> 
<table>
<caption>Authorinfo</caption>
<tr>
<th>Booktitle</th>
<th>Author</th>
<th>Publisher</th>
</tr>
{% if book %}
{% for entry in book %}
<tr>
<td>{{ entry.title }}</td>
<td>{{ entry.author }}</td>
<td>{{ entry.publisher }}</td>
</tr>
{% endfor %}
{% endif %}
</table>	
{% endblock %}
