<!DOCTYPE html>
{% extends "books_app/base.html" %}
{% block body_block %}
<h1>This page has the ISBN codes for all books.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "books_app:form_codes" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:search_codes" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:codes" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Codesinfo</caption>
<tr>
<th>Booktitle</th>
<th>ISBN</th>
</tr>
{% if book %}
{% for entry in book %}
<tr>
<td>{{ entry.title }}</td>
<td>{{ entry.isbn }}</td>
</tr>
{% endfor %}
{% endif %}
</table>	 	
{% endblock %}
