<!DOCTYPE html>
{% extends "books_app/base.html" %}
{% block body_block %}
<h1>AuthorNotFound</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "books_app:form_author" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:search_author" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:author" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
{% endblock %}
