<!DOCTYPE html>
{% extends "books_app/base.html" %}
{% block body_block %}
<h1>This is the search book page</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "books_app:form_book" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:search_book" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "books_app:book" %}>Go back to list</a></li>

</ul>
</div>
</nav> 	
<div class="container">
<form method="POST">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" class="btn btn-primary" value="submit">	
</form>
</div>

{% endblock %}