<!DOCTYPE html>
{% extends "paragliding_app/base.html" %}
{% block body_block %}
<h1>The player entry could not be found.</h1>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "paragliding_app:form_about" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "paragliding_app:search_about" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "paragliding_app:about" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
{% endblock %}
 