<!DOCTYPE html>
{% extends "rockclimbing_app/base.html" %}
{% block body_block %}
<h1>This page has the height and weight details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">	
<li> <a class="navbar-link" href={% url "rockclimbing_app:form_about" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "rockclimbing_app:search_about" %}>Search an entry</a></li>		
<li> <a class="navbar-link" href={% url "rockclimbing_app:about" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Aboutinfo</caption>
<tr>
<th>Name</th>
<th>Height</th>
<th>Weight</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.height }}</td>
<td>{{ entry.weight }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}la