<!DOCTYPE html>
{% extends "rugby_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "rugby_app:home" %}>		
<img src= "/static/images/rugby_image1.jpg" alt="rugby image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rugby_app:home" %}>		
<img src= "/static/images/rugby_image2.jpg" alt="rugby image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rugby_app:home" %}>		
<img src= "/static/images/rugby_image3.jpg" alt="rugby image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rugby_app:home" %}>		
<img src= "/static/images/rugby_image4.jpg" alt="rugby image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
