<!DOCTYPE html>
{% extends "biathlon_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "biathlon_app:home" %}>		
<img src= "/static/images/biathlon_image1.jpg" alt="biathlon image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "biathlon_app:home" %}>		
<img src= "/static/images/biathlon_image2.jpg" alt="biathlon image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "biathlon_app:home" %}>		
<img src= "/static/images/biathlon_image3.jpg" alt="biathlon image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "biathlon_app:home" %}>		
<img src= "/static/images/biathlon_image4.jpg" alt="biathlon image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
