<!DOCTYPE html>
{% extends "icehockey_app/base.html" %}
{% block body_block %}
<h1>This page has the goals details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">		
<li> <a class="navbar-link" href={% url "icehockey_app:goalstats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Goalstatsinfo</caption>
<tr>
<th>Name</th>
<th>Goals</th>
<th>Powerplaygoals</th>
<th>Shothandgoals</th>
<th>Wininggoals</th>
<th>Overtimegoals</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.goals }}</td>
<td>{{ entry.powerplaygoals }}</td>
<td>{{ entry.shothandgoals }}</td>
<td>{{ entry.wininggoals }}</td>
<td>{[ entry.overtimegoals ]}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}