<!DOCTYPE html>
{% extends "cricket_app/base.html" %}
{% block body_block %}
<h1>Enter the debut date and skill for new player entry.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "cricket_app:form_about" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "cricket_app:search_about" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "cricket_app:about" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
<div class="container">
<form method="POST">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" class="btn btn-primary" value="submit">	
</form>
</div>

{% endblock %}