<!DOCTYPE html>
{% extends "cricket_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "cricket_app:home" %}>		
<img src= "/static/images/cricket_image1.jpg" alt="cricket image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "cricket_app:home" %}>		
<img src= "/static/images/cricket_image2.jpg" alt="cricket image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "cricket_app:home" %}>		
<img src= "/static/images/cricket_image3.jpg" alt="cricket image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "cricket_app:home" %}>		
<img src= "/static/images/cricket_image4.jpg" alt="cricket image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
