<!DOCTYPE html>
{% extends "cricket_app/base.html" %}
{% block body_block %}
<h1>This page has the T20 stats for all players.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">

</ul>
</div>
</nav>
<table>
<caption>T20info</caption>
<tr>
<th>Name</th>	
<th>Matches</th>
<th>Runs</th>
<th>Wickets</th>
<th>Catches</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.t20matches }}</td>
<td>{{ entry.t20runs }}</td>
<td>{{ entry.t20wickets }}</td>
<td>{{ entry.t20catches }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}