<!DOCTYPE html>
{% extends "cricket_app/base.html" %}
{% block body_block %}
<h1>This page has the TEST stats for all players.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url ":" %}>Go back to list</a></li>	
</ul>
</div>
</nav>
<table>
<caption>Testinfo</caption>
<tr>
<th>Name</th>	
<th>Matches</th>
<th>Runs</th>
<th>Wickets</th>
<th>Catches</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.testmatches }}</td>
<td>{{ entry.testruns }}</td>
<td>{{ entry.testwickets }}</td>
<td>{{ entry.testcatches }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}