<!DOCTYPE html>
{% extends "music_app/base.html" %}
{% block body_block %}
<h1>This page has the ASCAP details for all tracks.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "music_app:form_ascap" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:search_ascap" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:ascap" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Ascapinfo</caption>
<tr>
<th>Tracktitle</th>
<th>Ascap_id</th>
<th>Ascap_publisher</th>
<th>Ascap_ipi</th>
</tr>
{% if music %}
{% for track in music %}
<tr>
<td>{{ track.title }}</td>
<td>{{ track.ascap_id }}</td>
<td>{{ track.ascap_pub }}</td>
<td>{{ track.ascap_ipi }}</td>
</tr>
{% endfor %}
{% endif %}
</table>  
{% endblock %}