<!DOCTYPE html>
{% extends "music_app/base.html" %}
{% block body_block %}
<h1>This is the ascap page</h1>
<nav class="navbar navbar-default navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "music_app:form_ascap" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:search_ascap" %}>Search an entry</a></li>
</ul>
</div>
</nav> 		
{% if music %}
<ol>
{% for track in music %}
<li>ASCAPinfo</li>
<ul>
<li> ASCAP ID:{{ track.ascap_id }}</li>
<li> ASCAP PUBLISHER:{{ track.ascap_pub }}</li>
<li> ASCAP IPI:{{ track.ascap_ipi }}</li>
</ul>
{% endfor %}
</ol>
{% endif %} 

{% endblock %}