<!DOCTYPE html>
{% extends "music_app/base.html" %}
{% block body_block %}
<h1>AscapNotFound</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "music_app:form_ascap" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:search_ascap" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:ascap" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
{% endblock %}
