<!DOCTYPE html>
{% extends "music_app/base.html" %}
{% block body_block %}
<h1>The requested codes entry could not be found.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "music_app:form_codes" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:search_codes" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:codes" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
{% endblock %}
