<!DOCTYPE html>
{% extends "music_app/base.html" %}
{% block body_block %}
<h1>Enter the GMR information for new track entry.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "music_app:form_gmr" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:search_gmr" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:gmr" %}>Go back to list</a></li>
</ul>
</div>
</nav> 	
<div class="container-fluid">
<form method="POST">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" class="btn btn-primary" value="submit">	
</form>
</div>

{% endblock %}