<!DOCTYPE html>
{% extends "music_app/base.html" %}
{% block body_block %}
<h1>This page has the GMR details for all tracks.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "music_app:form_gmr" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:search_gmr" %}>Search an entry</a></li>
</ul>
</div>
</nav>
<table>
<caption>Gmrinfo</caption>
<tr>
<th>Tracktitle</th>
<th>Gmr_id</th>
<th>Gmr_publisher</th>
<th>Gmr_ipi</th>
</tr>
{% if music %}
{% for track in music %}
<tr>
<td>{{ track.title }}</td>
<td>{{ track.gmr_id }}</td>
<td>{{ track.gmr_pub }}</td>
<td>{{ track.gmr_ipi }}</td>
</tr>
{% endfor %}
{% endif %}
</table> 	 	
{% endblock %}
