<!DOCTYPE html>
{% extends "music_app/base.html" %}
{% block body_block %}
<h1>This page has the SESAC details for all tracks.</h1>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "music_app:form_sesac" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:search_sesac" %}>Search an entry</a></li>
<li> <a class="navbar-link" href={% url "music_app:sesac" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Sesacinfo</caption>
<tr>
<th>Tracktitle</th>
<th>Sesac_id</th>
<th>Sesac_publisher</th>
</tr>
{% if music %}
{% for track in music %}
<tr>
<td>{{ track.title }}</td>
<td>{{ track.sesac_id }}</td>
<td>{{ track.sesac_pub }}</td>
</tr>
{% endfor %}
{% endif %}
</table> 	 	
{% endblock %}