<!DOCTYPE html>
{% extends "rowing_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "rowing_app:home" %}>		
<img src= "/static/images/rowing_image1.jpg" alt="rowing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rowing_app:home" %}>		
<img src= "/static/images/rowing_image2.jpg" alt="rowing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rowing_app:home" %}>		
<img src= "/static/images/rowing_image3.jpg" alt="rowing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rowing_app:home" %}>		
<img src= "/static/images/rowing_image4.jpg" alt="rowing image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
