<!DOCTYPE html>
{% extends "tennis_app/base.html" %}
{% block body_block %}
<h1>This page has the titles and grandslams  details for all players.</h1>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "tennis_app:form_careerstats" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "tennis_app:search_careerstats" %}>Search an entry</a></li>	
<li> <a class="navbar-link" href={% url "tennis_app:careerstats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Careerstatsinfo</caption>
<tr>
<th>Name</th>
<th>Titles</th>
<th>Grandslams</th>
<th>Tourfinals</th>
<th>Masters</th>
<th>Daviscups</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.titles }}</td>
<td>{{ entry.grandslams }}</td>
<td>{{ entry.tourfinals }}</td>
<td>{{ entry.masters }}</td>
<td>{{ entry.daviscups }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}