<!DOCTYPE html>
{% extends "tennis_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "tennis_app:home" %}>		
<img src="/static/images/tennis_image1.jpg" alt="tennis image" width=250 height=250>
</a></p>
</div>
<div class="row">
<div class="column">
<p><a href={% url "tennis_app:home" %}>		
<img src="/static/images/tennis_image2.jpg" alt="tennis image" width=250 height=250>
</a></p>
</div>
<div class="row">
<div class="column">
<p><a href={% url "tennis_app:home" %}>		
<img src="/static/images/tennis_image3.jpg" alt="tennis image" width=250 height=250>
</a></p>
</div>
<div class="row">
<div class="column">
<p><a href={% url "tennis_app:home" %}>		
<img src="/static/images/tennis_image4.jpg" alt="tennis image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
