<!DOCTYPE html>
{% extends "volleyball_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "volleyball_app:home" %}>		
<img src= "/static/images/volleyball_image1.jpg" alt="volleyball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "volleyball_app:home" %}>		
<img src= "/static/images/volleyball_image2.jpg" alt="volleyball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "volleyball_app:home" %}>		
<img src= "/static/images/volleyball_image3.jpg" alt="volleyball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "volleyball_app:home" %}>		
<img src= "/static/images/volleyball_image4.jpg" alt="volleyball image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
