<!DOCTYPE html>
{% extends "archery_app/base.html" %}
{% block body_block %}
<h1>This page has the gamestats details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">		
<li> <a class="navbar-link" href={% url "archery_app:gamestats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Gamestatsinfo</caption>
<tr>
<th>Name</th>
<th>Arrowlength</th>
<th>Drawweight</th>
<th>Averagearrow</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.arrowlength }}</td>
<td>{{ entry.drawlength }}</td>
<td>{{ entry.averagearrow }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}