<!DOCTYPE html>
{% extends "archery_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "archery_app:home" %}>		
<img src= "/static/images/archery_image1.jpg" alt="archery image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "archery_app:home" %}>		
<img src= "/static/images/archery_image2.jpg" alt="archery image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "archery_app:home" %}>		
<img src= "/static/images/archery_image3.jpg" alt="archery image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "archery_app:home" %}>		
<img src= "/static/images/archery_image4.jpg" alt="archery image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
