<!DOCTYPE html>
{% extends "bowling_app/base.html" %}
{% block body_block %}
<h1>This page has the city and state details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">			
<li> <a class="navbar-link" href={% url "bowling_app:about" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Aboutinfo</caption>
<tr>
<th>Name</th>
<th>Gender</th>
<th>City</th>
<th>State</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.gender }}</td>
<td>{{ entry.city }}</td>
<td>{{ entry.state }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}