<!DOCTYPE html>
{% extends "bowling_app/base.html" %}
{% block body_block %}
<h1>This page has the titles details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">	
<li> <a class="navbar-link" href={% url "bowling_app:form_titlestats" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "bowling_app:search_titlestats" %}>Search an entry</a></li>		
<li> <a class="navbar-link" href={% url "bowling_app:titlestats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Titlestatsinfo</caption>
<tr>
<th>Name</th>
<th>Titles</th>
<th>Average</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.titles }}</td>
<td>{{ entry.average }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}