<!DOCTYPE html>
{% extends "taekwondo_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "taekwondo_app:home" %}>		
<img src= "/static/images/taekwondo_image1.jpg" alt="taekwondo image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "taekwondo_app:home" %}>		
<img src= "/static/images/taekwondo_image2.jpg" alt="taekwondo image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "taekwondo_app:home" %}>		
<img src= "/static/images/taekwondo_image3.jpg" alt="taekwondo image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "taekwondo_app:home" %}>		
<img src= "/static/images/taekwondo_image4.jpg" alt="taekwondo image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
