<!DOCTYPE html>
{% extends "baseball_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "baseball_app:home" %}>		
<img src= "/static/images/baseball_image1.jpg" alt="baseball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "baseball_app:home" %}>		
<img src= "/static/images/baseball_image2.jpg" alt="baseball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "baseball_app:home" %}>		
<img src= "/static/images/baseball_image3.jpg" alt="baseball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "baseball_app:home" %}>		
<img src= "/static/images/baseball_image4.jpg" alt="baseball image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
