<!DOCTYPE html>
{% extends "judo_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "judo_app:home" %}>		
<img src= "/static/images/judo_image1.jpg" alt="judo image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "judo_app:home" %}>		
<img src= "/static/images/judo_image2.jpg" alt="judo image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "judo_app:home" %}>		
<img src= "/static/images/judo_image3.jpg" alt="judo image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "judo_app:home" %}>		
<img src= "/static/images/judo_image4.jpg" alt="judo image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
