<!DOCTYPE html>
{% extends "kickboxing_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "kickboxing_app:home" %}>		
<img src= "/static/images/kickboxing_image1.jpg" alt="kickboxing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "kickboxing_app:home" %}>		
<img src= "/static/images/kickboxing_image2.jpg" alt="kickboxing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "kickboxing_app:home" %}>		
<img src= "/static/images/kickboxing_image3.jpg" alt="kickboxing image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "kickboxing_app:home" %}>		
<img src= "/static/images/kickboxing_image4.jpg" alt="kickboxing image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
