<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
<p> Browse details for Hundreds of Musictracks, Books and Sports. You can also add new entries
 to the data base and search for an existing entry.</p>
<div class="row">
<div class="column">
<p><a href={% url "music_app:home" %}>	
<img src= "/static/images/music_image1.jpg"  alt="music image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "books_app:home" %}>		
<img src= "/static/images/books_image1.jpg"  alt="books image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "cricket_app:home" %}>		
<img src= "/static/images/cricket_image1.jpg" alt="cricket image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "football_app:home" %}>		
<img src="/static/images/football_image1.jpg" alt="football image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "tennis_app:home" %}>		
<img src="/static/images/tennis_image1.jpg" alt="tennis image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "chess_app:home" %}>		
<img src="/static/images/chess_image1.jpg" alt="chess image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "basketball_app:home" %}>		
<img src="/static/images/basketball_image1.jpg" alt="basketball image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "baseball_app:home" %}>		
<img src="/static/images/baseball_image1.jpg" alt="baseball image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rugby_app:home" %}>		
<img src="/static/images/rugby_image1.jpg" alt="rugby image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "icehockey_app:home" %}>      
<img src="/static/images/icehockey_image1.jpg" alt="icehockey image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "golf_app:home" %}>      
<img src="/static/images/golf_image1.jpg" alt="golf image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "badminton_app:home" %}>      
<img src="/static/images/badminton_image1.jpg" alt="badminton image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "tabletennis_app:home" %}>      
<img src="/static/images/tabletennis_image1.jpg" alt="tabletennis image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "bowling_app:home" %}>      
<img src="/static/images/bowling_image1.jpg" alt="bowling image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "weightlifting_app:home" %}>      
<img src="/static/images/weightlifting_image1.jpg" alt="weightlifting image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "pool_app:home" %}>      
<img src="/static/images/pool_image1.jpg" alt="pool image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "archery_app:home" %}>      
<img src="/static/images/archery_image1.jpg" alt="archery image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "fencing_app:home" %}>      
<img src="/static/images/fencing_image1.jpg" alt="fencing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "cycling_app:home" %}>      
<img src="/static/images/cycling_image1.jpg" alt="cycling image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "darts_app:home" %}>      
<img src="/static/images/darts_image1.jpg" alt="darts image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "karate_app:home" %}>      
<img src="/static/images/karate_image1.jpg" alt="karate image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "surfing_app:home" %}>      
<img src="/static/images/surfing_image1.jpg" alt="surfing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "volleyball_app:home" %}>      
<img src="/static/images/volleyball_image1.jpg" alt="volleyball image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "horseracing_app:home" %}>      
<img src="/static/images/horseracing_image1.jpg" alt="horseracing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "judo_app:home" %}>      
<img src="/static/images/judo_image1.jpg" alt="judo image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "swimming_app:home" %}>      
<img src="/static/images/swimming_image1.jpg" alt="swimming image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "kickboxing_app:home" %}>      
<img src="/static/images/kickboxing_image1.jpg" alt="kickboxing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rockclimbing_app:home" %}>      
<img src="/static/images/rockclimbing_image1.jpg" alt="rockclimbing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "iceskating_app:home" %}>      
<img src="/static/images/iceskating_image1.jpg" alt="iceskating image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "curling_app:home" %}>      
<img src="/static/images/curling_image1.jpg" alt="curling image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "rowing_app:home" %}>      
<img src="/static/images/rowing_image1.jpg" alt="rowing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "polo_app:home" %}>      
<img src="/static/images/polo_image1.jpg" alt="polo image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "handball_app:home" %}>      
<img src="/static/images/handball_image1.jpg" alt="handball image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "boxing_app:home" %}>      
<img src="/static/images/boxing_image1.jpg" alt="boxing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "skiing_app:home" %}>      
<img src="/static/images/skiing_image1.jpg" alt="skiing image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "skating_app:home" %}>      
<img src="/static/images/skating_image1.jpg" alt="skating image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "diving_app:home" %}>      
<img src="/static/images/diving_image1.jpg" alt="diving image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "hockey_app:home" %}>      
<img src="/static/images/hockey_image1.jpg" alt="hockey image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "triathlon_app:home" %}>      
<img src="/static/images/triathlon_image1.jpg" alt="triathlon image" width=200 height=250>
</a></p>
</div>
</div>
{% endblock %}
 