<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
<div class="row">
<div class="column">	
<img src= "/static/images/music_image.jpg"  alt="music image" width=250 height=250>
</div>
<div class="column">
<img src= "/static/images/books_image.jpg"  alt="books image" width=250 height=250>
</div>
<div class="column">
<img src= "/static/images/cricket_image.jpg" alt="cricket image" width=250 height=250>
</div>
<div class="column">
<img src="/static/images/football_image.jpg" alt="football image" width=250 height=250>
</div>
</div>
{% endblock %}
 