<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
<div class="row">
<div class="column">
<p><a href={% url "music_app:home" %}>	
<img src= "/static/images/music_image1.jpg"  alt="music image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "books_app:home" %}>		
<img src= "/static/images/books_image1.jpg"  alt="books image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "cricket_app:home" %}>		
<img src= "/static/images/cricket_image1.jpg" alt="cricket image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "football_app:home" %}>		
<img src="/static/images/football_image1.jpg" alt="football image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "tennis_app:home" %}>		
<img src="/static/images/tennis_image1.jpg" alt="tennis image" width=200 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "chess_app:home" %}>		
<img src="/static/images/chess_image1.jpg" alt="chess image" width=200 height=250>
</a></p>
</div>
</div>
{% endblock %}
 