<!DOCTYPE html>
{% extends "basketball_app/base.html" %}
{% block body_block %}
<h1>This page has the goals and attempts details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">
<li> <a class="navbar-link" href={% url "basketball_app:form_goalstats" %}>Enter new entry</a></li>
<li> <a class="navbar-link" href={% url "basketball_app:goalstats" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Goalstatsinfo</caption>
<tr>
<th>Name</th>
<th>Goals</th>
<th>Attempts</th>
<th>Assists</th>
<th>Steals</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.goals }}</td>
<td>{{ entry.attempts }}</td>
<td>{{ entry.assists }}</td>
<td>{{ entry.steals }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}