<!DOCTYPE html>
{% extends "basketball_app/base.html" %}
{% block body_block %}
<h1>Click on the navigation buttons above to access the details.</h1>
<div class="row">
<div class="column">
<p><a href={% url "basketball_app:home" %}>		
<img src= "/static/images/basketball_image1.jpg" alt="basketball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "basketball_app:home" %}>		
<img src= "/static/images/basketball_image2.jpg" alt="basketball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "basketball_app:home" %}>		
<img src= "/static/images/basketball_image3.jpg" alt="basketball image" width=250 height=250>
</a></p>
</div>
<div class="column">
<p><a href={% url "basketball_app:home" %}>		
<img src= "/static/images/basketball_image4.jpg" alt="basketball image" width=250 height=250>
</a></p>
</div>
</div>
{% endblock %}
