<!DOCTYPE html>
{% extends "tabletennis_app/base.html" %}
{% block body_block %}
<h1>This page has the age and country details for all players.</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<div class="container">
<ul class="nav navbar-nav">			
<li> <a class="navbar-link" href={% url "tabletennis_app:player" %}>Go back to list</a></li>
</ul>
</div>
</nav>
<table>
<caption>Playerinfo</caption>
<tr>
<th>Name</th>
<th>Age</th>
<th>Date of Birth</th>
<th>Country</th>
</tr>
{% if player %}
{% for entry in player %}
<tr>
<td>{{ entry.name }}</td>
<td>{{ entry.age }}</td>
<td>{{ entry.dob }}</td>
<td>{{ entry.country }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
{% endblock %}